@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CoreWebApp.Models.ProductCategory;
@{
    ViewData["Title"] = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pagetitle">
    <h1>ApexCharts</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Charts</li>
            <li class="breadcrumb-item active">ApexCharts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<main id="main" class="main">

    <section class="section">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Pie Chart</h5>

                    <!-- Pie Chart -->
                    <div id="pieChart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#pieChart"), {
                                series: [
                        @ViewBag.CategoryStocks[0],
                        @ViewBag.CategoryStocks[1],
                        @ViewBag.CategoryStocks[2],
                        @ViewBag.CategoryStocks[3],
                        @ViewBag.CategoryStocks[4],
                        @ViewBag.CategoryStocks[5],
                        @ViewBag.CategoryStocks[6],
                        @ViewBag.CategoryStocks[7],
                        @ViewBag.CategoryStocks[8]],
                                chart: {
                                    height: 350,
                                    type: 'pie',
                                    toolbar: {
                                        show: true
                                    }
                                },

                                labels: ['@ViewBag.ProductCategoryNames[0]',
                                    '@ViewBag.ProductCategoryNames[1]',
                                    '@ViewBag.ProductCategoryNames[2]',
                                    '@ViewBag.ProductCategoryNames[3]',
                                    '@ViewBag.ProductCategoryNames[4]',
                                    '@ViewBag.ProductCategoryNames[5]',
                                    '@ViewBag.ProductCategoryNames[6]',
                                    '@ViewBag.ProductCategoryNames[7]',
                                    '@ViewBag.ProductCategoryNames[8]']

                            }).render();
                        });
                    </script>

                </div>
            </div>
        </div>
    </section>

</main>
@section scripts {

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



}